010@charset "utf-8";
/* CSS Document */

body {
background-color:#666;
margin:0;
padding:0;
}
#storbox {
	background-color:#666);
	width:80%;
	height:100%;
	position:absolute;
	margin-left:10%;
	box-shadow: 7px 7px 7px 7px;
}

header {
	width:100%;
	height:30%;
	background-image:url(file://///intra.lund.se/studentdata/051598/Webbutveckling%201/Ny%20%C3%B6vning/BannerStartsida1.jpg);
	background-size:100% 100%;
	
}
header:hover {
	cursor:pointer;
	
	
}	
nav {
height:10%;
width:100%;
margin-top:0;
background-color:#666;
}

ul {
	list-style: none;
	background-color:#F00;
	text-align: center;
	padding:0;
	marign:0;
}
	
li {
	line-height:40px;
	height: 100%;
	width: 33%;
	float:left;
	margin-top:20px;
}
	
footer {
	height:10%;
	background-color:#000;
	width:100%;
	margin-top:50%;
}
	
article {
	
	height:60%;
	width:60%;
	background-image:url(file://///intra.lund.se/studentdata/051598/Webbutveckling%201/Ny%20%C3%B6vning/galaxy2.jpg);
	float:right;
}

aside {
	background-color:#999;
	width:40%;
	height:60%;
	float:left;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
}
article img {
	margin-left: 10%;
	margin-top:5%;
	border-radius: 20px;	
}
